doctype html
html
  link(rel='stylesheet', href='/stylesheets/style.css')
  head 
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  body
    h1= title
    p #{body} #[a(href=link, class='button') #{button_name}]
    p #{warning}